/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @end */

/* FONTS */
@font-face {
    font-family: 'ofl_sorts_mill_goudyitalic';
    src: url('oflgoudystm-italic-webfont.eot');
    src: url('oflgoudystm-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('oflgoudystm-italic-webfont.woff') format('woff'),
         url('oflgoudystm-italic-webfont.ttf') format('truetype'),
         url('oflgoudystm-italic-webfont.svg#ofl_sorts_mill_goudyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ofl_sorts_mill_goudyregular';
    src: url('oflgoudystm-webfont.eot');
    src: url('oflgoudystm-webfont.eot?#iefix') format('embedded-opentype'),
         url('oflgoudystm-webfont.woff') format('woff'),
         url('oflgoudystm-webfont.ttf') format('truetype'),
         url('oflgoudystm-webfont.svg#ofl_sorts_mill_goudyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FB */

.clear {
	clear: both;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	background-color: #ff6428;
	color: white;
	text-shadow: none;
}

a.header:hover {
	background-color: white;
}

div#container {
	width: 640px;
	margin: 0 auto;
}

div#content {
	padding: 30px;
}

p.intro {
	font: 26px/32px source_sans_proregular, Arial, Helvetica, Geneva, sans-serif;
	color: black;
	letter-spacing: -.9px;
}

p.intro em {
	font: 28px/32px ofl_sorts_mill_goudyitalic;
}

p.intro a,
p.intro a:link {
	text-decoration: none;
}

p.BuyButton {
	margin: 15px 15px 15px 0;
	text-indent: -9999px;
	display: block;
}

p.BuyButton a {
	width: 139px;
	height: 39px;
	display: block;
	background: url(BuyNowButton.svg) no-repeat scroll 0 0;
}

p.BuyButton a:hover {
	width: 139px;
	height: 39px;
	display: block;
	background: url(BuyNowButton.svg) no-repeat scroll 0 -39px;
}

p.BuyButton a:active {
	width: 139px;
	height: 39px;
	display: block;
	background: url(BuyNowButton.svg) no-repeat scroll 0 -78px;
}

p.BuyButton a span {
	display: none;
}

iframe {
	margin: 20px 0 40px -30px;
}

div.column {
	width: 260px;
	margin: 0 0 30px 60px;
	float: left;
	color: #333;
	text-shadow: 0 1px 1px #ffffff;
}

.alpha {
	margin-left: 0px !important;
}

div.column h1,
.contact h1 {
	font: 23px/31px source_sans_probold, Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -.9px;
	margin: 20px 0 10px;
}

div.column p,
div.column ol,
div.column ol li {
	font: 18px/1.2em ofl_sorts_mill_goudyregular;
	margin-bottom: 10px;
}

h2.accolades {
	font: 23px/31px ofl_sorts_mill_goudyitalic;
	margin-bottom: 10px;	
}

div.column em {
	font-family: ofl_sorts_mill_goudyitalic;
}

div.column h3 {
	font: 18px/1.2em source_sans_probold, Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
	margin-top: 20px;
}

a.screenshot,
a.screenshot:link,
a.screenshot:visited {
	display: block;
	text-decoration: none;
	width: 243px;
	height: 182px;
}

a#ss1 {
	background: url(DesignScene_Screenshot_1_thumbnail.jpg) no-repeat scroll 0 0px;
}

a#ss2 {
	background: url(DesignScene_Screenshot_2_thumbnail.jpg) no-repeat scroll 0 0px;
}

a#ss1.screenshot:hover,
a#ss2.screenshot:hover {
	background-position: 0 -182px;
}

div.accolade {
	margin-bottom: 20px;
	font: 14px/1.4em source_sans_proregular, Arial, Helvetica, Geneva, sans-serif;
}

div.accolade p {
	font: 14px/1.4em source_sans_proregular, Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}

p.attribution {
	text-align: right;
	text-transform: uppercase;
	margin-top: -10px;
} 

div.accolade a,
div.accolade a:link,
div.accolade a:visited {
	color: #666;
	text-decoration: none;
}

div.accolade a:hover p,
div.accolade a:hover p.attribution {
	background-color: #ff6428;
	color: white;
	text-shadow: none;
}