html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* -----DESIGNSCENE CSS----- */

.clear {
	clear: both;
}
a,a:link,a:visited {
	text-decoration: none;
	color: #bfdefc;
}
a:hover {
	text-decoration: underline;
	color: #3366cc;
}
html {
	background: #000 none no-repeat scroll 50% 0;
}
body {
	background: transparent url("main_bg.jpg") no-repeat scroll 50% 0;
	text-align:center;
}
div#container {
	width: 960px;
	position:relative;
	text-align:left;
	margin: 0 auto 20px;
}

/* -----HEADER----- */
div#header {
	height: 250px;
}
div#header h1 {
	width: 480px;
	height: 102px;
	background: transparent url(ds_logo.png) no-repeat scroll left top;
	left: 123px;
	top: 82px;
	position: relative;
	text-indent: -9999px;
}
div#header h1 a {
	display:block;
	width: 480px;
	height: 102px;
	border-style: none;
}
div#header h3 {
	width: 147px;
	height: 51px;
	left: 660px;
	top: 92px;
	position: absolute;
	text-indent: -9999px;
}
div#header h3 a {
	display:block;
	width: 147px;
	height: 50px;
	background: transparent url(btn_appstore.png) no-repeat scroll left top;
	border-style: none;
}
div#header h3 a:hover {
	background-position: 0 -51px;
}
div#header h3 a:active {
	background-position: 0 -102px;
}
div#header h1 a span,div#header h3 a span {
	display: none;
}

/* -----COLUMN 1----- */
div#column1 {
	width: 600px;
	margin-right: 60px;
	float: left;
}
div#movie {
	margin: 0 0 30px;
}
div#description {
	font: 1.875em/1.5em "minion-pro-1","minion-pro-2", Georgia, "Times New Roman", Times, serif;	
	font-weight: 400;
	color: #fff;
}
div#description p {
	margin: 30px 0 15px;
}
div#description p em {
	font-weight: 700;
	font-style: italic;
}
p.btnBuy {
	float: left;
	margin-right: 40px;
}
p.btnBuy a {
	width: 180px;
	height: 64px;
	text-indent: -9999px;
	background: transparent url(btn_buynow.png) no-repeat scroll 0 0;
	display: block;
}
p.btnBuy a:hover {
	background-position: 0 -65px;
}
p.btnBuy a:active {
	background-position: 0 -130px;
}
p.btnBuy a span {
	display: none;
}

div#features {
	float: left;
	width: 380px;
	margin: 6px 0 0 40px;
}
div#features p {
	margin: 20px 0 4px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: .553em;
	line-height: 1.5em;
}
div#features ul li {
	margin: 0;
	list-style-type: disc;
	list-style-position: inside;
	font: italic 400 .667em/1.2em "minion-pro-1","minion-pro-2", Georgia, "Times New Roman", Times, serif;
}
div#share {
	margin: 40px 0 0;
	padding: 0;
}
.addthis_toolbox, .addthis_default_style {
	margin: 0;
	padding: 0;
	width: 300px;
}

/* -----COLUMN 2----- */
div#column2 {
	width: 300px;
	float: left;
}
div.review {
	margin-bottom: 30px;
}
div.review a {
	width: 260px;
	padding: 20px;
	background-color: #333;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
	display: block;
}
div.review a:hover, div.review a:active {
	background-color: #666;
	text-decoration: none;
}
div.review blockquote {
	color: #fff;
	font: italic 1.12em/1.75em minion-pro-1, minion-pro-2, Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	margin-bottom: .5em;
	text-indent: -0.5em;
}
div.review p.source {
	color: #fff;
	font: 700 .8em museo-sans-1, museo-sans-2, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .16em;
	margin: 0;
}
div.twtr-doc {
	font-family: museo-sans-1, museo-sans-2, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* -----FOOTER----- */
div#footer {
	margin: 60px 0 30px;
	color: #999;
	text-decoration: none;
	height: 100px;
	border-top: 1px solid #ccc;
	padding-top: 30px;
	font: 300 .8em/1.2em "museo-sans-1","museo-sans-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
ul.links {
	width: 180px;
	float: left;
	margin-right: 3em;
}
ul.links li, ul.legal li {
	margin: 0 0 4px;
}
ul.legal {
	font-size: .8em;
	line-height: 1.2em;
	color: #666;
}
#footer a,#footer a:link,#footer a:visited {
	text-decoration: none;
	color: #ccc;
}
#footer a:hover {
	text-decoration: underline;
	color: #3366cc;
}
#footer ul.legal li a,#footer ul.legal li a:link,#footer ul.legal li a:visited {
	text-decoration: none;
	color: #666;
}
#footer ul.legal li a:hover {
	text-decoration: underline;
	color: #3366cc;
}

/* -----CONTACT----- */
form {
	font-family: "museo-sans-1","museo-sans-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
form p {
	margin: 20px 0 10px;
}
select,input,textarea {
	border: 2px solid #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	width: 687px;
	font-size: 1.4em;
}
input,textarea {
	padding: 4px 8px;
}
select:focus,select:hover,
input:focus,input:hover,
textarea:focus,textarea:hover {
	border: 2px solid #3366cc;
}
input.btn {
	padding: 0;
	width: 120px;
	height: 45px;
	background: transparent url(btn_send.png) no-repeat scroll 0 0;
	border-style: none;
}
input.btn:hover {
	background-position: 0 -45px;
}
input.btn:active {
	background-position: 0 -90px;
}
label {
	display: inline-block;
	margin: 0 0 10px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size: .9em;
}
p.success {
	width: 687px;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #006518;
	background-color: #b6f18e;
	font: 1em "museo-sans-1","museo-sans-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #006518;
}
p.error {
	width: 687px;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ba150b;
	background-color: #f7b6a9;
	font: 1em "museo-sans-1","museo-sans-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ba150b;
}

label.highlight {
	color:#ff8b2b;
}
label.highlight:after {
  content: ' (Required)';
}
input.highlight, textarea.highlight {
	border:4px solid #ff8b2b;
}

/* -----CONTENT----- */
div#content {
	color: #fff;
	width: 687px;
	font: .8em/1.3em museo-sans-1, museo-sans-2, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0 0 0 123px;
}
div#content h2 {
	margin: 0 0 .5em;
	font: 400 3em minion-pro-1, minion-pro-2, Georgia, "Times New Roman", Times, serif;
}
div#content h3 {
	text-indent: 0;
	margin: 1em 0 .5em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 700;
}
div#content p {
	margin-bottom: 1em;
}
div#content li {
	list-style-position: outside;
	list-style-type: decimal;
	margin: 0 0 .5em 1.5em;
}
div#content strong {
	font-weight: 700;
}
div#content em {
	font-style: italic;
}